<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.commentario">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature android:name="android.hardware.camera"
        android:required="true"/>

    <application >
        <activity android:name=".Camera.empty"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">

        </activity>
        <activity android:name=".Camera.ActivityCamera"
            android:theme="@style/CAMERA_THEME"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">

        </activity>
        <activity android:name=".Camera.ActivityEdit"
            android:theme="@style/CAMERA_THEME"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">

        </activity>
        <activity android:name=".Camera.ActivityPicture"
            android:theme="@style/CAMERA_THEME"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">

        </activity>
        <activity android:name=".Camera.ActivityCamera2"
            android:theme="@style/CAMERA_THEME"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">

        </activity>
    </application>

</manifest>